.chatItem {
  border: 2px solid whitesmoke;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  color: whitesmoke;
  margin: 10px 0 0 0;
}

.chatItem:hover {
  background-color: whitesmoke;
  color: black;
}

.messageList {
  display: flex;
  flex-direction: column;
}

.signOut {
  margin: 20px 0 0 0;
}

.list {
  display: flex;
  flex-direction: column;
}
